<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
            crossorigin="anonymous">
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
        <link rel="stylesheet" href="/css/main.css">
        <title> {{ title }} </title>
    </head>
    <body>
        <!-- NAVBAR -->
        <nav class="navbar navbar-expand-lg bg-body-tertiary navbar width">
            <div class="container mt-2 mb-2">
                <a class="navbar-brand me-3" href="/">
                    <img src="/image/daun.png" alt="logo">
                </a>
                <button
                    class="navbar-toggler"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent"
                    aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse fw-3" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item me-4">
                            <a class="nav-link active" aria-current="page" href="/">Home</a>
                        </li>
                        <li class="nav-item me-4">
                            <a class="nav-link" href="/detail">My Project</a>
                        </li>
                        <li class="nav-item me-4">
                            <a class="nav-link" href="/mytestimoni">My Testimoni</a>
                        </li>
                    </ul>
                    <div class="d-flex">
                        <a class="btn btn-outline-secondary" href="/contact">Contact Me</a>
                    </div>
                </div>
            </div>
        </nav>
        <!-- END NAVBAR -->

        <!-- FORM HOME -->
        <section class="jumbotron text-center">
            <img
                src="/image/giias.jpeg"
                alt="profil"
                width="200"
                class="rounded-circle img-thumbnail">
            <h1 class="display-4">Jodi Adrian</h1>
            <p class="lead">I am full Stack Developer</p>
            <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 1440 320">
                <path
                    fill="#ffffff"
                    fill-opacity="100"
                    d="M0,224L80,218.7C160,213,320,203,480,208C640,213,800,235,960,245.3C1120,256,1280,256,1360,256L1440,256L1440,320L1360,320C1280,320,1120,320,960,320C800,320,640,320,480,320C320,320,160,320,80,320L0,320Z"></path>
            </svg>
        </section>

        <!-- ABOUT -->
        <section id="about">
            <div class="container">
                <div class="row text-center mb-3">
                    <div class="col">
                        <h2>About Me</h2>
                    </div>
                </div>
                <div class="row justify-content-center fs-5 text-center">
                    <div class="col-md-4">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis placeat
                            consequatur rem inventore magnam laborum ut quae sit non, exercitationem officia
                            neque dolorem ullam repellendus nemo aliquid nihil? Voluptatibus, voluptatem.</p>
                    </div>
                    <div class="col-md-4">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis placeat
                            consequatur rem inventore magnam laborum ut quae sit non, exercitationem officia
                            neque dolorem ullam repellendus nemo aliquid nihil? Voluptatibus, voluptatem.</p>
                    </div>
                </div>
            </div>
            <div class="container text-center mt-4">
                <a
                    href=""
                    class="link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
                    <i class="bi bi-linkedin icons me-5"></i>
                </a>
                <a
                    href="https://www.instagram.com/"
                    class="link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
                    <i class="bi bi-instagram icons me-5"></i>
                </a>
                <a
                    href=""
                    class="link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
                    <i class="bi bi-facebook icons me-5"></i>
                </a>
            </div>
            <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 1440 320">
                <path
                    fill="#113946"
                    fill-opacity="100"
                    d="M0,224L80,224C160,224,320,224,480,234.7C640,245,800,267,960,256C1120,245,1280,203,1360,181.3L1440,160L1440,320L1360,320C1280,320,1120,320,960,320C800,320,640,320,480,320C320,320,160,320,80,320L0,320Z"></path>
            </svg>
        </section>
        <!-- END ABOUT -->

        <!-- FOOTER -->
        <footer class="footer text-white text-center pb-5">
            <p>Created with
                <i class="bi bi-heart-fill"></i>
                By
                <a href="https://www.instagram.com/" class="text-white fw-bold">
                    Jodi Adrian
                </a>
            </p>
        </footer>
        <!-- END FOOTER -->
    </body>
    <script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</html>