<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            Batch 50
        </title>

        <link rel="stylesheet" href="./assets/css/testimoni.css">
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
            integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"/>
    </head>

    <body>
        <!-- START NAVBAR -->
        <nav>
            <div class="nav-left">
                <ul>
                    <img src="./assets/image/daun.png" alt="logo">
                    <li>
                        <a class="a-respon" href="./index.html">Home</a>
                    </li>
                    <li>
                        <a class="a-respon" href="./myproject.html">My Project</a>
                    </li>
                    <li>
                        <a class="a-respon" href="./testimoni.html">My Testimoni</a>
                    </li>
                </ul>
            </div>
            <div class="nav-right">
                <a class="a-respon" href="./contact.html">My Contact</a>
            </div>

            <div class="nav-right" id="barsmenu">
                <button class="btn-burger" onclick="openburger()">
                    <i class="fa-solid fa-bars"></i>
                </button>
            </div>
        </nav>

        <div class="hamburger" id="hamburgerId">
            <a href="./index.html" class="ham-acvtive">Home</a>
            <a href="./myproject.html">My Project</a>
            <a href="./testimoni.html">My Testimoni</a>
            <a href="./contact.html">My Contact</a>
        </div>
        <!-- End Navbar -->

        <div class="container">
            <h1>My Testimonials</h1>
            <div class="container-rating">
                <h2>
                    Rating By Star</h2>
                <div>
                    <button class="rating-btn" onclick="showTestimonial()">
                        All
                    </button>
                    <button class="rating-btn" onclick="filterTestimonials(1)">
                        1
                        <i class="fa-solid fa-star"></i>
                    </button>
                    <button class="rating-btn" onclick="filterTestimonials(2)">
                        2
                        <i class="fa-solid fa-star"></i>
                    </button>
                    <button class="rating-btn" onclick="filterTestimonials(3)">
                        3
                        <i class="fa-solid fa-star"></i>
                    </button>
                    <button class="rating-btn" onclick="filterTestimonials(4)">
                        4
                        <i class="fa-solid fa-star"></i>
                    </button>
                    <button class="rating-btn" onclick="filterTestimonials(5)">
                        5
                        <i class="fa-solid fa-star"></i>
                    </button>
                </div>
            </div>

            <section class="testimonials" id="testimonials">
                <div class="testimonial">
                    <img src="assets/images/img.png" class="profile-testimonial"/>
                    <p class="quote">"Etiam nec tincidunt erat. Sed faucibus convallis lectus vel
                        porttitor. Fusce tristique dolor quis odio rhoncus laoreet."</p>
                    <p class="author">- Ilham Fathullah</p>
                </div>
            </section>
        </div>
        <script src="assets/js/testimoni.js"></script>
        <script src="assets/js/burger.js"></script>
    </body>
</html>