/* HOME / NAVBAR */

.navbar {
    background-color: beige !important;
}

.jumbotron {
    padding-top: 2rem;
    background-color: #FFF2D8;
}

.icons {
    font-size: 4rem;
}

.footer {
    background-color: #113946;
}


/* ADD PROJECT */

.bgcolor {
    background-color: #F8F0E5;
}

#fcard {
    background-color: #EADBC8
}

.date {
    display: flex;
}

.cekbox {
    grid-row-start: auto;
}

.filter {
    text-align: center
}

.container-card {
    box-shadow: 0 0 30px #3d3d3d;
    background-color: #fff;
    border: ipx solid black;
    justify-content: center;
    text-align: center;
}

/* CONTACT */

textarea {
    resize: none;
}

/* TESTIMONI */

.testimoni {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

