body {
    margin: 0;
}

body,
html {
    width: 100%;
    height: 100%;
    margin: 0;
    font-size: 16px;
    font-family: sans-serif;
}

/* NAVBAR */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: beige;
    padding: 10px 20px 30px;
}

.nav-left ul {
    display: flex;
    list-style-type: none;
    align-items: center;
}

.nav-left img {
    margin-right: 50px;
}

.nav-left ul li {
    margin-right: 30px;
    font-size: 20px;
}

.nav-left img {
    margin-right: 50px;
}

.nav-left a {
    text-decoration: none;
    color: black;
}

.nav-left a :hover {
    color: #b4db6b;
}

.nav-right :hover {
    color: whitesmoke;
    background-color: #8c9170;
    transition: 0.3s ease-in-out;
    border-radius: 8px;
}

.nav-right a {
    font: bold;
    background-color: #bfb586;
    padding: 10px 20px;
    color: black;
    text-decoration: none;
    font-size: 20px;
}
/* END NAVBAR  */

/* HAMBURGER / BARSMENU */
#barsmenu {
    display: none;
}

.hamburger {
    display: none;
}

.hamburger a {
    text-decoration: none;
    font: bold;
    background-color: #aaab6a;
    padding: 10px;
    color: white;
    display: flex;
    justify-content: center;
    border: 1px solid #fff;
}

.hamburger .ham-acvtive {
    background-color: #b9ba68;
}

.btn-burger {
    background-color: #bfb586;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 20px;
}

/* RESPONSIVE */

@media only screen and (max-width: 900px) {
    .div-5 {
        flex-direction: column-reverse;
    }

    .div-6 {
        flex-direction: column;
    }

    .div-mecard {
        display: flexbox;
        flex-direction: column-reverse;
    }
}

@media only screen and (max-width: 545px) {
    .a-respon {
        display: none;
    }
    
    #barsmenu {
        display: block;
    }
}

/* INDEX ATAU HOME */

.div-1 {
    background-color: #f5f4f0;
}
.div-2 {
    padding: 61px 80px;
}
.div-3 {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 30px black;
}
.div-4 {
    padding: 50px 80px;
}
.div-5 {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
}
.div-6 {
    padding: 40px 120px 0 0;
}

.div-btn {
    padding-top: 20px;
}
.div-icon {
    padding-top: 40px;
}

.div-mecard {
    width: 350px;
    border: 1px solid #3d3d3d;
    padding: 15px;
    border-radius: 15px;
    font-family: 'segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-shadow: 0 0 30px #3d3d3d;
}

.span-welcome {
    font-size: 32px;
    font-weight: 700;
}

.p-biodata {
    font-size: 24px;
    font-weight: 500;
    text-align: justify;
}

.p-mecard {
    margin: 0 0 25px;
    text-align: center;
}

.btn-contact {
    background-color: black;
    color: white;
    border-radius: 30px;
    padding: 5px 20px;
    cursor: pointer;
    margin-right: 20px;
}

.btn-cv {
    background-color: transparent;
    border-color: transparent;
    cursor: pointer;
}

.a-icon {
    border-radius: 50px;
    pointer: cursor;
    text-decoration: none;
    padding-right: 20px;
}

.h3-home {
    margin: 10px 0 0;
    text-align: center;
}

/* END HOME */


form {
    width: 350px;
    margin: 50px auto;
}

.form-input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #dbdbdb;
    margin-top: 5px;
}

textarea {
    resize: none;
    height: 100px;
}

form div {
    margin-top: 10px;
}

form label {
    font-weight: bold;
}

.button {
    background-color: beige;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin-top: 20px;
    font-size: 20px;
    cursor: pointer;
}

.div-submit :hover {
    color: whitesmoke;
    background-color: #8c9170;
    transition: 0.3s ease-in-out;
    border-radius: 8px;
}


/* MY PROJECT*/

.h1-project {
    text-align: center;
}

.span-startend {
    display: flex;
}

.div-start {
    margin-right: 80px;
}

.checkbox {
    display: inline-block;
    vertical-align: middle;
}

.padding-1 {
    padding-left: 6rem;
}

input[type=file]::file-selector-button {
    margin-right: 20px;
    border: none;
    background: #6e6d40;
    padding: 10px 20px;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    transition: background 0.2s ease-in-out;
}

/* css card my project*/

.div-card-item {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.div-card {
    margin: 100px auto;
    width: 350px;
    border: 1px solid #3d3d3d;
    padding: 15px;
    border-radius: 15px;
    font-family: 'segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-shadow: 0 0 30px #3d3d3d;
}

.img-card {
    width: 100%;
    height: 200px;
    border-radius: 15px;
}

.h1-card {
    margin: 25px 0 0;
    text-align: center;
}

.p-card {
    font-weight: bold;
    margin: 0 0 25px;
    text-align: center;
}

.table-card {
    border: 1px solid #000;
    border-collapse: collapse;
    width: 100%;
}

.th-card {
    border: ipx solid black;
    text-align: center;
}

.td-card {
    border: 1px solid black;
    text-align: center;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    /* 5px rounded corners */
}

/* END MyProject */





/* CSS BLOG-DETAIL */

/* Lazy Load Styles */
.card-image {
    display: block;
    min-height: 20rem;
    /* layout hack */
    background: #fff center center no-repeat;
    background-size: cover;
    filter: blur(3px);
    /* blur the lowres image */
}

.card-image > img {
    display: block;
    width: 100%;
    opacity: 0;
    /* visually hide the img element */
}

.card-image.is-loaded {
    filter: none;
    /* remove the blur on fullres image */
    transition: filter 1s;
}

/* Layout Styles */

.card-list {
    display: block;
    margin: 1rem auto;
    padding: 0;
    font-size: 0;
    text-align: center;
    list-style: none;
}

.card {
    display: inline-block;
    width: 90%;
    max-width: 20rem;
    margin: 1rem;
    font-size: 1rem;
    text-decoration: none;
    overflow: hidden;
    box-shadow: 0 0 3rem -1rem rgba(0,0,0,0.5);
    transition: transform 0.1s ease-in-out, box-shadow 0.1s;
}

.card:hover {
    transform: translateY(-0.5rem) scale(1.0125);
    box-shadow: 0 0.5em 3rem -1rem rgba(0,0,0,0.5);
}

.card-description {
    display: block;
    padding: 1em 0.5em;
    color: #515151;
    text-decoration: none;
}

.card-description > h2 {
    margin: 0 0 0.5em;
}

.card-description > p {
    margin: 0;
}

/* END CSS BLOG DETAIL */

